.LandingPage{
    width:100%;
    min-height: 100vh;
  
}

.Intro{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(hsl(217, 28%, 15%) , hsl(217, 28%, 15%)) ,  url(./Images/bg-curvy-desktop.svg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: -1;
    padding: 10px;
}

